<form action="/createpost" method="POST">
  <label for="posttitle">Post Tile:</label>
  <input type="text" name="posttitle" required />
  <label for="postbody">Message:</label>
  <input type="text" name="postbody" />
  <input type="submit" value="Post!" />
</form>
