<form action="/createpost" method="post">
  <label for="post-title">Post Tile:</label>
  <input type="text" name="post-title" required />
  <label for="post-body">Message:</label>
  <input type="text" name="post-body" />
  <input type="submit" value="Post!" />
</form>
