<header><%- include('./partials/header'); %></header>
<div class="wrapper">
  <div class="auth-container">
    <h2>Login To Post!</h2>
    <div class="auth-container-image-container">
      <img
        src="https://i.pinimg.com/originals/67/9a/8c/679a8ce044245372ca495c4c9c151225.png"
        alt=""
      />
    </div>
    <div class="auth-container-form-container">
      <form action="/login" method="POST">
        <div class="form-input-container">
          <label for="username">Username:</label>
          <input type="text" name="username" required />
        </div>
        <div class="form-input-container">
          <label for="password">Password:</label>
          <input type="password" name="password" required />
        </div>
        <div class="errors-container"></div>
        <div class="input-submit-container">
          <input type="submit" value="Login!" />
        </div>
      </form>
    </div>
  </div>
</div>
