<header><%- include('./partials/header'); %></header>
<div class="wrapper">
  <div class="auth-container">
    <h2>Become A Member!</h2>
    <p>Enter the secret passcode to become a member!</p>
    <div class="auth-container-form-container">
      <form action="/secret" method="POST">
        <div class="form-input-container">
          <label for="passcode">Passcode:</label>
          <input name="passcode" type="text" />
        </div>
        <div class="input-submit-container">
          <input type="submit" value="Become a Member!" />
        </div>
      </form>
    </div>
  </div>
</div>
