<header><%- include('./partials/header'); %></header>
<div class="wrapper">
  <div class="auth-container">
    <h2>Signup Now!</h2>
    <div class="auth-container-form-container">
      <form action="/sign-up" method="POST">
        <div class="form-input-container">
          <label for="email">Email:</label>
          <input type="text" name="email" required />
        </div>
        <div class="form-input-container">
          <label for="username">Username:</label>
          <input type="text" name="username" required />
        </div>
        <div class="form-input-container">
          <label for="password">Password:</label>
          <input type="password" name="password" required />
        </div>
        <div class="form-input-container">
          <label for="passwordConfirm">Password Confirm:</label>
          <input type="password" name="passwordConfirm" required />
        </div>
        <div class="errors-container"></div>
        <div class="input-submit-container">
          <input type="submit" value="Sign Up!" />
        </div>
      </form>
    </div>
  </div>
</div>
