*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
